@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

    /* cores */

    /* primaria */
    --Tomato: hsl(4, 100%, 67%);

    /* Neutras */
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /* tamanho da font */
    --size-font: 1rem;

    /* fonte */
    --font: 'Roboto';

    --imagem-desktop: 

}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Dark-Slate-Grey);

}

.conteiner {
    background-color: var(--White);
    min-height: 60vh;
    min-width: 50vw;

    border-radius: 1.5rem;
    padding: 1rem 1.2rem;
    gap: 3rem;

    display: flex;
    justify-content: space-between;
}

.imagem-rincipal{
    background-image: url('');
}