@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

    /* cores */

    /* primaria */
    --Tomato: hsl(4, 100%, 67%);

    /* Neutras */
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /* tamanho da font */
    --size-font: 1rem;

    /* fonte */
    --font: 'Roboto';

    --imagem-desktop: 

}

*{
    font-family: var(--font);
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Charcoal-Grey);

}

.conteiner {
    background-color: var(--White);
    min-height: 75vh;
    min-width: 60vw;

    border-radius: 1.5rem;
    padding: 1rem;
    gap: .6rem;

    display: flex;
    justify-content: space-between;
}


.infos {
    
    display: flex;
    flex-direction: column;
    padding: 3rem .6rem;
    width: 50%;

}

.titulo-infos {
    color: var(--Dark-Slate-Grey);
    font-size: 3.2rem;
    font-weight: 700;
}


.imagem-principal{
    width: 46.2%;
    height: 37rem;
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    display: flex;
}